.survey-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 4vh;
  padding-top: 10vh;
  font-size: 50%;
  font-weight: 400;
  text-transform: uppercase;
}

.survey-form-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  padding: 20px 0px;
}

.survey-form-wrapper > form {
  width: 90%;
}

.survey-field-row,
.survey-field-textarea {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #ebebeb;
}

.survey-field-row {
    border-bottom: none;
}

.survey-field-textarea {
  height: 16vh;
}

.survey-field-textarea > textarea {
  position: relative;
  height: 100%;
  width: 85%;
    color: #555;
  padding: 10px 0px;
  border: none;
  font-size: 100%;
}

.survey-field-textarea > textarea,
.survey-field-row > input {
  font-family: "Courier";
}

.survey-field-textarea > label {
  position: relative;
  width: 100px;
  padding-left: 2vh;
  bottom: 30%;
}

.email-body {
  border-bottom: none;
}

.survey-field-row > input {
  height: 7vh;
  width: 85%;
  color: #555;
  border: none;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.survey-field-row > label {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100px;
  padding-left: 2vh;
}

.survey-button {
  border: none;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  min-width: 100px;
  line-height: 9vh;
  color: #fff;
  background: #595959;
  font-size: 110%;
  font-family: "Lato", "Helvetica", sans-serif;
  padding: 0px 15px;
}

.survey-button-row {
  padding-top: 3vh;
  display: flex;
  justify-content: space-between;
}

.survey-field-error-message {
  border: none;
  position: absolute;
  color: red;
  left: 70%;
}
