.survey-container {
  display: flex;
  justify-content: center;
  margin: 0 10px;
  padding-top: 120px;
  font-size: 50%;
  font-weight: 400;
  text-transform: uppercase;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  
}

.survey-form-wrapper {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  padding: 20px 0px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  
}

.top {
  padding-top: 100px;
}

.survey-form-wrapper > form,
.survey-form-wrapper > .survey-review {
  width: 90%;
}

.survey-field-row,
.survey-field-textarea {
  display: flex;
  align-items: center;
  padding: 9px 0px;
  padding-left: 4vh;
  width: 100%;
  border: 1px solid #ebebeb;
}

.survey-field-row {
  border-bottom: none;
}

.survey-field-textarea {
  max-height: 80px;
  height: 16vh;
}

.survey-field-textarea > textarea {
  height: 100%;
}

.survey-field-textarea > textarea,
.survey-field-row > input,
.survey-review-value
 {
  font-family: "Courier";
  width: 85%;
  border: none;
  font-size: 100%;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.email-body {
  border-bottom: none;
}

.survey-field-row > input {
  height: 7vh;
  max-height: 40px;
}

.survey-field-row > label, 
.survey-field-textarea > label {
  display: flex;
  width: 100px;
}

.survey-field-textarea > label {
  position: relative;
  bottom: 30%;
}

.survey-field-error-message {
  max-width: 120px;
  color: red;
}

.survey-button-row  {
  padding-top: 3vh;
  display: flex;
  justify-content: space-between;
}

.survey-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  min-width: 100px;
  max-width: 150px;
  height: 10vh;
  max-height: 40px;
  color: #fff;
  background: #595959;
  font-size: 110%;
  font-family: "Lato", "Helvetica", sans-serif;
  padding: 0px 15px;
}
.survey-review-row {
  padding: 7px 0px;
}

.survey-review > .survey-review-row
{
  /* border: 1px solid red; */
  width: 100%;
  justify-content: center;
}
.survey-review-value {
  text-transform: none;
}

.survey-dashboard-wrapper {
  display: flex;
  /* border: 1px solid red; */
}

div {
  scrollbar-width: none;
}