@media screen and (min-width: 768px) {
  
   .dashboard-wrapper-container {
    background-color: #fff;
    top: 90px;
    padding-left: 48px;
    padding-right: 48px;
    vertical-align: middle;
    width: 100%;
    /* border: 1px solid orange; */
    position: fixed;
  }

  .dashboard-container {
    max-width: 1424px;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
  }

  .dashboard-wrapper {
    /* padding-bottom: 30px; */
    /* padding-top: 30px; */
    /* border: 1px solid red; */
    display: inline-block;
    width: 75%;
    font-weight: 400;
    font-size: 80%;
  }

  .dashboard-header {
    /* border: 1px solid red; */
    display: inline-block;
    width: 25%;
  }

  .dashboard-list {
    width: 66.666%;
    text-align: center;
    /* border: 1px solid red; */
    display: inline-block;
  }

  .dashboard-list a {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media only screen and (min-width: 640px) {
  .dashboard-wrapper-container {
    margin-bottom: 48px;
  }
}
