@media screen and (min-width: 768px){ 
  .dashboard-wrapper {
  /* border: 1px solid red; */
  position: fixed;
  display: flex;
  width: 100%;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 80%;
  /* background-color: #fff; */
}

.dashboard-wrapper > ul {
  /* border: 1px solid red; */
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}}