@media screen and (min-width: 768px) {
  .dashboard-wrapper-container {
    background-color: #fff;
    top: 90px;
    padding-left: 48px;
    padding-right: 48px;
    vertical-align: middle;
    left: 0;
    z-index: 1;
    right: 0;
    padding-top: 40px;
    width: 100%;
    padding-bottom: 48px;
    line-height: 1.6;
    position: fixed;
  }

  .dashboard-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1424px;
    display: flex;
    align-items: center;
  }

  .dashboard-wrapper {
    display: inline-block;
    width: 75%;
    font-weight: 400;
    font-size: 80%;
  }

  .dashboard-header {
    display: inline-block;
    width: 25%;
    text-align: left;
  }

  .dashboard-header-title {
    margin-left: 50px;
    display: inline;
  }
  .dashboard-list {
    width: 66.666%;
    text-align: center;
  }

  .dashboard-list a {
    padding-left: 16px;
    padding-right: 16px;
  }
}
