.settings-container {
  position: relative;
  top: 60px;
  padding-top: 40px;
  min-height: 720px;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (min-width: 1024px) {
  .settings-container {
    top: 90px;
  }
}

.settings-nav-title {
  margin-bottom: 48px;
  display: block;
}

.settings-headline-3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.1667;
}

.settings-nav-wrapper {
  min-height: 100vh;
  height: 100%;
}

.settings-nav-item-wrapper {
  vertical-align: top;
}
#settings_col {
  padding-left: 0px;
  padding-right: 0px;
}

.col-sm-12 {
  width: 100%;
  display: inline-block;
}

.settings-nav-item {
  display: block;
}

.settings-nav-item-button button {
  background: none;
  width: 100%;
  text-align: left;
}

.settings-nav-link {
  color: rgb(17, 17, 17);
  height: 44px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.settings-nav-link-icon {
  line-height: 56px;
  min-width: 46px;
  width: 46px;
  text-align: center;
  padding-right: 20px;
  display: inline-block;
}

.button-wrapper {
  font-size: 11px;
}

.settings-nav-link-icon img {
  width: 26px;
  min-width: 26px;
  max-width: 100%;
  position: relative;
  display: block;
}

.settings-headline-5 {
  line-height: 56px;
  width: calc(100% - 32px);
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.chevron-right {
  display: none;
}

.settings-list-container {
  padding-bottom: 32px;
  padding-left: 0;
  vertical-align: top;
  display: inline-block;
  padding-right: 8px;
  line-height: 1.75;
  font-size: 16px;
}

.settings-nav-item-wrapper {
  display: none;
}

.mobile-container {
  max-width: 768px;
  height: auto;
  vertical-align: top;
}

.form-header-wrapper h1 {
  text-transform: none;
  font-size: 24px;
  font-weight: 500;
}

.form-header-title {
  overflow-wrap: anywhere;
  hyphens: auto;
}

.email-form-item {
  width: 100%;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: visible;
  position: relative;
  min-height: 84px;
}

.input-layout-control {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 56px;
  top: 8px;
  border-radius: 4px;
}

.input-layout-control-sub  {
   display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  width: 50%;
  height: 56px;
  top: 8px;
  border-radius: 4px;
}

.account-form-input {
  border: 0px;
  margin: 0px;
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 24px;
  color: rgb(17, 17, 17);
  background-color: transparent;
  height: 56px;
  border-radius: 4px;
}

.input-layout-control-label {
  position: absolute;
  left: 18px;
  z-index: 3;
  padding: 0 5px;
  top: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  user-select: none;
  line-height: 14px;
  transform: scale(0.75) translateY(-29px);
  transform-origin: left center;
  will-change: transform;
  transition-property: transform;
  transition-duration: 250ms;
  background-color: white;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  color: rgb(117, 117, 117);
}

.account-form-input-fieldset {
  position: absolute;
  box-sizing: border-box;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  border-color: rgb(204, 204, 204);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  padding: 0px;
  margin: 0px;
  pointer-events: none;
}

.account-form-input-fieldset-sub {
    position: absolute;
  box-sizing: border-box;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  border-color: rgb(204, 204, 204);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  padding: 0px;
  margin: 0px;
  pointer-events: none;
}

.account-form fieldset {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.5em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  /* min-inline-size: min-content; */
}

fieldset legend {
  padding: 0px 4px;
  font-size: 12px;
  border: 0px;
  visibility: hidden;
  height: 1px;
  transition-property: padding, font-size;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.mobile-input-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.location-selection {
  height: 56px;
}

#location {
  padding-bottom: 12px;
}

.mobile-input-label-width {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  width: 50%;
  padding-left: 8px;
  padding-right: 8px;
}

.mobile-input-wrapper {
  padding-bottom: 2px;
  padding-left: 0;
  padding-right: 0;
}

.mobile-phone-number {
  padding-right: 20px;
  padding-bottom: 12px;
  padding-top: 12px;
}

.col-sm-12 .mobile-phone-number-input {
  vertical-align: middle;
  text-align: right;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  width: 50%;
}

.add-mobile-phone-number {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  padding: 0px;
  color: rgb(17, 17, 17);
  background: transparent;
  border-width: 0px 0px 1px;
  border-top-style: initial;
  border-right-style: initial;
  border-left-style: initial;
  border-top-color: initial;
  border-right-color: initial;
  border-left-color: initial;
  border-image: initial;
  font-size: 12px;
  line-height: 14px;
  border-bottom-style: solid;
  border-bottom-color: rgb(17, 17, 17);
}

.pt3-sm {
  padding-bottom: 12px;
  padding-top: 12px;
  height: 1px;
  border: none;
  margin: 0;
  -webkit-box-shadow: inset 0 1px 0 0 #e5e5e5;
  box-shadow: inset 0 1px 0 0 #e5e5e5;
}

.pt3-ms {
  padding-bottom: 12px;
  padding-top: 12px;
  height: 1px;
  border: none;
  margin-top: 24px;
  margin-bottom: 16px;
  -webkit-box-shadow: inset 0 1px 0 0 #e5e5e5;
  box-shadow: inset 0 1px 0 0 #e5e5e5;
}

.delete-account-row {
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
  line-height: 1.75;
}

.delete-account-button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  padding: 7px 28px 9px;
  position: relative;
  overflow: hidden;
  transform: translate3d(0px, 0px, 0px);
  background: transparent;
  color: rgb(17, 17, 17);
  border-radius: 30px;
  border: 1px solid rgb(204, 204, 204);
}

@media only screen and (min-width: 1024px) {
  .settings-container {
    padding-left: 48px;
    padding-right: 48px;
    display: inline-block;
    width: 100%;
  }
  .settings-list-container {
    max-width: 290px;
    padding-right: 24px;
    width: 33.3%;
    display: inline-block;
  }

  .settings-nav-item-wrapper {
    display: block;
  }

  .mobile-container {
    padding-bottom: 48px;
    width: 33.3%;
    display: inline-block;
  }

  .form-header-title {
    margin-bottom: 36px;
  }
}

@media (min-width: 1024px) {
  .settings-list-container {
    max-width: 290px;
  }

  .mobile-container {
    margin-left: 140px;
  }
}

@media only screen and (max-width: 1023px) {
  .settings-nav-link {
    height: 56px;
  }

  .settings-nav-item-button button {
    box-shadow: inset 0 -1px 0 0 #e5e5e5;
  }

  .chevron-right {
    position: absolute;
    top: 6px;
    right: 10px;
    width: 20px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    font-weight: 400;
  }
}

@media only screen and (min-width: 640px) {
  .col-md-12 {
    width: 100%;
    display: inline-block;
  }
}
