.profile-wrapper {
  margin: 0 20px;
  margin-top: 200px;
  padding-bottom: 48px;
  min-height: 600px;
  /* border: 1px solid red; */
}

.profile-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95px;
  /* border: 1px solid red; */
}

.profile-header {
  font-size: 16px;
  text-align: center;
  height: 95px;
  /* display: flex; */
}

.profile-photo-wrapper {
  display: inline-block;
  align-content: center;
  height: 75px;
  width: 75px;
  background-size: 75px 75px;
  border-radius: 50%;
  margin-right: 4vh;
}

.profile-subtitle {
  display: inline-block;
  vertical-align: top;
}

.profile-subtitle > h4 {
  color: #757575;
  font-size: 80%;
  font-weight: 400;
}

.credits-container {
  display: flex;
  color: #555;
  justify-content: center;
  align-items: center;
}

.credits-container:first-child {
  padding-bottom: 10px;
}

.credits-container > span {
  margin-left: 10px;
}

.credits-container > p {
  vertical-align: top;
  margin-left: 10px;
  border-radius: 50%;
  color: #fff;
  background-color: #555;
  padding: 4px 10px;
}