
.member-banner-wrapper {
  float: right;
  display: flex;
  border: 1px solid red;
  height: 7vh;
  margin-right: 10px;
}

.member-banner-button {
  margin: auto 0;
  border: 1px solid red;
}

.member-banner-button {
  margin-right: 15px;
}

.member-banner-button:last-child {
  margin-right: 0px;
}


.nav-spacer {
  height: 7vh;
}