.favorites-container {
  padding-left: 32px;
  padding-right: 32px;
}

.favorites-section {
  padding-top: 200px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  vertical-align: top;
}

.favorite-content {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.favorites-placeholder {
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}

/*####################################################*/
/*////////////////  FAVORITE CARD  ////////////////////*/
/*####################################################*/

.favorite-item-wrapper {
  vertical-align: top;
  border: 1px solid transparent;
  display: inline-block;
  width: 50%;
  position: relative;
  min-height: 1px;
  font-size: 16px;
  line-height: 1.75;
  padding-left: 8px;
  padding-right: 8px;
}

.favorite-item-body {
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
  display: inline-block;
  position: relative;
  min-height: 1px;
  font-size: 16px;
  line-height: 1.75;
}

a {
  color: #111;
  cursor: pointer;
  text-decoration: none;
  /* font-weight: 500; */
}

.favorite-item-thumbnail-wrapper {
  position: relative;
  min-width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.image-spacer {
  padding-bottom: 140%;
}

.favorite-item-thumbnail {
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 100%;
  max-width: 100%;
}

.favorite-product-details-wrapper {
  margin-bottom: 40px;
  position: relative;
  vertical-align: top;
  margin: 12px 0px 24px;
}

.favorite-product-details {
  vertical-align: top;
  width: 75%;
  display: inline-block;
  position: relative;
  min-height: 1px;
  font-size: 16px;
  line-height: 1.75;
  padding-left: 8px;
  padding-right: 8px;
}

.favorite-product-detail-row {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  text-align: right;
  line-height: 1.5;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
}

.favorite-product-title {
  color: rgb(17, 17, 17);
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  vertical-align: bottom;
}

.favorite-product-subtitle {
  line-height: 1.5;
  text-align: left;
  font-size: 16px;
  vertical-align: baseline;
  color: rgb(117, 117, 117);
}

.favorite-product-price {
  color: rgb(17, 17, 17);
  margin: 0;
  font-weight: 400;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-align: right;
}

.favorite-list-grid-actions {
  right: 0px;
  font-size: 16px;
  padding-bottom: 40px;
  text-align: left;
  padding-top: 20px;
  width: 100%;
  display: inline-block;
  position: relative;
  min-height: 1px;
  line-height: 1.75;
  padding-left: 8px;
  padding-right: 8px;
}

.favorite-list-button:disabled {
  box-shadow: rgb(204, 204, 204) 0px 1px 0px 0px inset,
    rgb(204, 204, 204) -1px 0px 0px 0px inset,
    rgb(204, 204, 204) 0px -1px 0px 0px inset,
    rgb(204, 204, 204) 1px 0px 0px 0px inset;
  color: rgb(117, 117, 117);
  cursor: default;
}

.favorite-list-button {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  outline: 0;
  background: 0px 0px;
  cursor: pointer;
  transition: all 0.2s ease 0s;
  padding: 8px 24px;
  border-radius: 20px;
  font-size: inherit;
  line-height: inherit;
  border: none;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  color: rgb(17, 17, 17);
  box-shadow: rgb(204, 204, 204) 0px 1px 0px 0px inset,
    rgb(204, 204, 204) -1px 0px 0px 0px inset,
    rgb(204, 204, 204) 0px -1px 0px 0px inset,
    rgb(204, 204, 204) 1px 0px 0px 0px inset;
}

.favorite-list-button:hover {
  outline: thin;
}

.heart-wishlist-button-wrapper {
  position: absolute;
  right: 0px;
  z-index: 1;
  padding: 0px;
  margin: 16px;
  transition: opacity 200ms ease-in-out 0s;
  opacity: 1;
}

.heart-wishlist-button {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease 0s;
  border-radius: 50%;
  height: 32px;
  border: none;
  width: 32px;
  padding: 4px;
  font-size: 12px;
  color: rgb(17, 17, 17);
  background: rgb(255, 255, 255);
}

@media only screen and (min-width: 1024px) {
  .favorite-item-wrapper {
    width: 33.3%;
  }

  .heart-wishlist-button {
    right: 8px;
  }
  .heart-wishlist-button {
    height: 40px;
    width: 40px;
    padding: 6px;
  }
}
