.mobile-cart-container {
  margin-top: 0px;
  margin-bottom: 40px;
  text-align: center;
}

.mobile-title {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.5;
  display: inline-block;
}

.mobile-cart-header {
  display: inline-block;
}

.mobile-subtitle {
  color: rgb(117, 117, 117);
  display: inline-block;
  margin-left: 4px;
  position: relative;
  min-height: 1px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  padding-left: 8px;
  padding-right: 8px;
}

.mobile-cart-total {
  color: rgb(17, 17, 17);
  font-weight: 400;
}

.separator {
  margin-left: 6px;
  margin-right: 6px;
}

@media only screen and (min-width: 1024px) {
  .mobile-cart-container {
    display: none;
  }
}

@media only screen and (max-width: 921px) {
  .mobile-title {
    display: none;
  }
}
