.wall-header-container {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 2;
  margin: 0 auto;
  max-width: 1920px;
  background: rgb(255, 255, 255);
}

.wall-header__title {
  flex: 1 1 0%;
  line-height: 1.3;
  padding-bottom: 2px;
  font-weight: 500;
  font-size: 24px;
}

.wall-header__filters-btn,
.wall-header__filter_text {
  visibility: hidden;
}
.wall-header__content {
  padding-top: 8px;
  align-items: center;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.icon-filters-wrapper {
  height: 16px;
  width: 16px;
  margin-top: 6px;
  position: relative;
}

.icon-filters {
  height: 1px;
}

.icon-filters::before {
  content: "";
  color: rgb(51, 51, 51);
  width: 100%;
  height: 1px;
  background: rgb(51, 51, 51);
  box-shadow: currentcolor 0px 7px 0px 0px;
  display: block;
  position: absolute;
  top: 3px;
  left: 0px;
}

.icon-filters::after {
  content: "";
  color: rgb(51, 51, 51);
  width: 2px;
  height: 6px;
  background: rgb(51, 51, 51);
  box-shadow: currentcolor 8px 7px 0px 0px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate3d(3px, 1px, 0px);
  transition: transform 200ms ease 0s, box-shadow 200ms ease 0s;
  box-shadow: currentcolor -8px 7px 0px 0px;
  transform: translate3d(11px, 1px, 0px);
}

.mobile-filters-button {
  background: transparent;
  text-align: center;
  padding: 6px 18px;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 20px;
  display: flex;
  font-size: 1.5em;
  vertical-align: middle;
}

.wall-breadcrumbs {
  text-align: left;
  line-height: 1;
  position: absolute;
  top: 0px;
}

.wall-header__item-count {
  padding-left: 6px;
}

.wall-header__nav {
  display: inline-flex;
  background: rgb(255, 255, 255);
  -webkit-box-align: baseline;
  align-items: baseline;
  text-align: center;
  -webkit-box-align: baseline;
}

.wall-header-spacer {
  height: 15px;
}

.wall-header__filter_text {
  padding-right: 8px;
  font-size: 16px;
}

.sort-by {
  font-size: 16px;
}

.dropdown {
  position: relative;
  background-color: rgb(255, 255, 255);
  max-width: 300px;
}

.dropdown__btn {
  width: 100%;
  padding: 1px 6px;
  text-align: right;
  background-color: white;
}
.dropdown__btn,
.wall-header__filters-btn {
  line-height: 1.75;
}

.dropdown__btn-selected-text {
  color: rgb(117, 117, 117);
}

.icon-chevron {
  margin-left: 8px;
  display: inline-block;
  top: 8px;
  right: 8px;
  width: 14px;
  height: 14px;
  position: relative;
}

.dropdown__options-wrapper {
  position: absolute;
  right: 0px;
  overflow: hidden;
}

.dropdown__options-list {
  padding-bottom: 15px;
  padding-right: 28px;
  border-radius: 0px 0px 0px 20px;
  padding-top: 24px;
  background: rgb(255, 255, 255);
}
.dropdown-transition-enter {
  transform: translateY(-100%);
}

.dropdown-transition-exit {
  transform: translateY(0%);
}
.dropdown-transition-enter-active {
  transform: translateY(0%);
  transition: all 500ms ease;
}

.dropdown-transition-exit-active {
  transition: all 500ms ease;
  transform: translateY(-100%);
}

.anchored--right .dropdown__option {
  text-align: right;
  padding: 0px 0px 0px 24px;
}

.dropdown__option {
  width: 100%;
  white-space: nowrap;
  display: block;
  line-height: 1.75;
  background: transparent;
}

.dropdown__option:hover {
  color: #757575;
}

@media only screen and (max-width: 819px) {
  .wall-header-container {
    min-height: 67.5px;
    top: 67.5px;
  }

  .mobile-filters-button {
    visibility: visible;
  }

  .wall-header-anchor-point {
    width: 1px;
    height: 1px;
  }
  .wall-header__content {
    display: flex;
    padding-top: 0;
    align-items: center;
    justify-content: space-between;
  }
  .wall-header {
    padding: 0 20px;
    font-size: 24px;
  }

  .wall-header__title {
    margin-top: 0;
    padding-top: 1px;
    font-size: 18px;
    padding-bottom: 2px;
  }

  .wall-header__filter_text,
  .sort-by {
    visibility: hidden;
    display: none;
  }

  .mobile__wall-header__filter-text {
    font-size: 16px;
    visibility: visible;
    display: inline-block;
  }

  .wall-header__filters-btn {
    visibility: hidden;
    display: none;
  }

  .wall-header {
    width: 100%;
    height: 66px;
    display: flex;
    align-items: center;
  }

  .wall-header__nav {
    padding-left: 2em;
  }

  .icon-filters-wrapper {
    display: none;
  }
}

@media only screen and (min-width: 676px) {
  .wall-header__filters-btn {
    display: flex;
    font-size: 1.5em;
    padding: 0px 25px 0px 0px;
    background: transparent;
    vertical-align: middle;
    visibility: visible;
  }
}

@media only screen and (min-width: 820px) {
  .wall-header {
    min-height: 64px;
    padding: 12px 48px 15px;
    display: flex;
    max-width: 1920px;
    align-items: center;
  }

  .wall-header__filters-btn {
    visibility: visible;
  }

  .mobile-filters-button {
    display: none;
    visibility: hidden;
  }

  .wall-header__filter_text,
  .sort-by {
    visibility: visible;
    display: flex;
  }
}

@media only screen and (min-width: 1024px) {
  .wall-header-container {
    top: 96px;
  }
}
