.landing-container {
  text-align: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 64px;
}
.subtitle {
  font-size: 14px;
  bottom: 10px;
  color: #7e7e7e;
  display: block;
  position: relative;
}

.description {
  padding-top: 12px;
}

.description p {
  line-height: 1.4;
  font-size: 16px;
  color: #7e7e7e;
}

@media screen and (max-width: 425px) {
  .landing-container {
    padding-top: 20px;
  }
}
