.checkout-container {
  margin-top: 0px;
  width: 100%;
  padding-top: 52px;
}

#checkout-wrapper {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  min-height: calc(100vh - 396px);
}

.checkout-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  vertical-align: top;
  margin-bottom: 20px;
  padding-left: 8px;
  padding-right: 8px;
}
.checkout-banner {
  text-align: center;
}
.section-header {
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
  line-height: 1.2;
}

.text-color-grey li {
  list-style: none;
}

.section-header h2,
.section-header a {
  width: 50%;
  display: inline-block;
}

.section-header h2 {
  letter-spacing: 0.7px;
  font-family: "Big Shoulders Display", cursive;
}

.section-header a {
  text-align: right;
  font-size: 12px;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: underline;
}
.shipping-section,
.summary-section {
  box-shadow: inset 0 1px 0 0 #e5e5e5, inset -1px 0 0 0 #e5e5e5,
    inset 0 -1px 0 0 #e5e5e5, inset 1px 0 0 0 #e5e5e5;
}

.order-preview-container {
  text-align: right;
  line-height: 1.25;
}

.order-preview-container p {
  font-size: 12px;
  text-align: left;
  color: #6d6d6d;
}

.place-order-button-row {
  padding-top: 20px;
  padding-bottom: 20px;
}
.shipping-row,
.summary-row {
  margin-left: -8px;
  margin-right: -8px;
}

.summary-row {
  padding-top: 2px;
  padding-bottom: 2px;
}

.summary-row:first-child {
  padding-top: 0px;
}
.shipping-wrapper {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.summary-total {
  margin-top: 8px;
  height: 24px;
}

.total-text,
.cart-total {
  font-size: 16px;
  font-family: "Big Shoulders Display", cursive;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.address-header {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
}

.address-preview {
  padding-bottom: 16px;
  font-size: 14px;
  line-height: 1.714;
}

.address-preview div p {
  padding-right: 4px;
  display: inline-block;
}

.checkout-title {
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Big Shoulders Display", cursive;
  font-size: 34px;
  line-height: 1.411;
  letter-spacing: 2px;
}

.checkout-cart-item {
  max-width: 230px;
  padding-bottom: 20px;
  display: table-row;
}

.checkout-cart-image {
  display: table-cell;
  vertical-align: top;
}

.checkout-cart-image img {
  width: 60px;
}

.checkout-cart-item-details {
  padding-left: 20px;
}

.item-name {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 1.2857;
}

.item-style-color {
  color: #6d6d6d;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: -4px;
}
.summary-col {
  padding: 20px;
  width: 100%;
  display: inline-block;
  font-size: 14px;
  line-height: 1.714;
}
.details-container {
  border-spacing: 0 20px;
  display: table;
}
.cart-details-title {
  text-transform: uppercase;
  font-family: "Big Shoulders Display", cursive;
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 1.5;
  letter-spacing: 1.25px;
  font-weight: 800;
}

.summary-price {
  text-align: right;
}

.cart-total {
  color: #fa5400;
}

.cart-details {
  box-shadow: inset 0 1px 0 0 #e5e5e5;
  padding-top: 24px;
  margin-left: 20px;
  margin-right: 20px;
}

.shipping-container {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
}

.place-order-button-wrapper {
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Big Shoulders Display", cursive;
  display: inline-block;
  background: #fa5400;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 1.714;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 2;
  font-size: 14px;
}
#shipping {
  margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {
  .checkout-container {
    padding-top: 88px;
  }
}

@media only screen and (min-width: 640px) {
  .checkout-banner {
    padding: 24px;
  }
}
