@media screen and (min-width: 768px) {
  .main-menu {
    width: 100%;
    z-index: 2;
    position: fixed;
    top: 30px;
    transition: transform 0.15s ease;
    height: 60px;
    display: block;
    background: white;
  }

  .nav-wrapper {
    padding: 0 38px 0 36px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    justify-content: space-between;
    display: flex;
  }

  .cart-button,
  .favorites-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cart-button > span,
  .favorites-button > span {
    position: absolute;
  }

  .cart-button p,
  .favorite-button p {
    font-size: 65%;
    font-weight: 400;
    position: relative;
    top: 2px;
  }

  .favorites-button p {
    font-size: 65%;
    position: relative;
    bottom: 0.5px;
  }

  .center-menu-wrapper {
    position: unset;
    top: 0;
  }

  .center-menu-container {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    display: block;
    text-align: center;
  }

  .center-menu-list {
    list-style: none;
    max-width: 1255px;
    margin: 0 auto;
    width: calc(100% - 426px);
    height: 60px;
  }

  .center-menu-list li {
    display: inline-block;
  }

  .center-menu-list li a {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 16px;
    padding-bottom: 18px;
    border-bottom: 2px solid transparent;
    transition: border-color 0.1s, color 0.1s;
    display: block;
    font-size: 16px;
    font-weight: 500;
  }

  .right-menu {
    text-align: right;
    display: inline-block;
    padding-top: 16px;
  }

  .right-menu a {
    display: inline-flex;
    vertical-align: middle;
    background: transparent;
    padding: 6px;
    position: relative;
    margin-left: 26px;
  }

  .nav-button {
    font-size: 80%;
  }

  .nav-logo {
    margin-top: 3px;
    display: inline-block;
  }

  .nav-logo a {
    font-weight: 900;
    font-size: 200%;
    z-index: 4;
    visibility: visible;
    padding-left: 12px;
    padding-right: 12px;
    transition: opacity 0.4s, visibility 0s;
  }

  .small-menu-icon,
  .small-dropdown-menu {
    visibility: hidden;
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .main-menu {
    width: 100%;
    color: black;
  }
  .nav-logo {
    font-weight: 900;
    font-size: 200%;
    color: black;
  }

  .nav-wrapper {
    width: 100%;
    height: 60px;
    display: flex;
    padding: 0px 10px;
    justify-content: space-between;
    align-items: center;
  }

  .center-menu {
    visibility: hidden;
    display: none;
  }

  .dropdown-container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .small-menu-icon {
    padding: 5px 10px;
    display: inline;
  }

  .small-menu-icon > i {
    font-size: 40px;
  }

  .logo-wrapper {
    padding-top: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .small-dropdown-menu {
    border: 1px solid blue;
    height: 56px;
    width: 62px;
    position: absolute;
    top: 1px;
    right: 0px;
    display: none;
  }

  .small-dropdown-menu:hover {
    height: 100px;
    width: 30px;
    visibility: visible;
  }
}

@media only screen and (min-width: 1440px) {
  .center-menu-list {
    width: calc(100% - 680px);
  }
}
