
.member-banner-wrapper {
  display:flex;
  flex-direction: row-reverse;
  position: fixed;
  align-items: center;
  /* background-color: rgb(246, 246, 246); */
  color: #555;
  width: 100%;
  height: 30px;
  font-size: 70%;
  font-weight: 400;
  text-transform: uppercase;
}

.member-banner-wrapper  a {
  margin-left: 10px;
  margin-right: 10px;
}
