.product-show-container {
  padding-top: 140px;
}

/*###################################*/
/*##########DETAILS BANNER###########*/
/*###################################*/

.product-details-banner {
  display: flex;
  width: 100%;
  margin-bottom: 0;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 12px;
}

.product-details-banner-body {
  flex: 3 1 80%;
  padding-right: 8px;
}

.product-details-banner-subtitle {
  max-width: 65%;
  padding-bottom: 4px;
  font-weight: 500;
  display: inline-block;
}

.product-details-banner-title {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.007em;
}

.product-details-banner-left-row {
  flex: 1 0 auto;
  text-align: right;
  margin-top: 12px;
}

/*###################################*/
/*###########PHOTO GALLERY############*/
/*###################################*/

.product-gallery-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.product-gallery-container {
  flex: 3 1;
}

.product-gallery-list {
  position: relative;
  width: 100%;
}

.product-gallery-image {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.product-gallery-image img {
  max-width: 100%;
}

/*###################################*/
/*#########PRODUCT SUMMARY###########*/
/*###################################*/

.product-summary-container {
  flex: 1 1;
  /* display: none; */
}

.product-gallery-image-wrapper {
  background: transparent;
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 12px;
}

.product-gallery-image-spacer {
  position: relative;
  padding-top: 125%;
}

.product-summary-wrapper {
  flex: 1 1;
  height: 100%;
  padding-top: 4px;
}

.product-summary-body {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 32px;
}

.product-summary-details-wrapper {
  margin-bottom: 8px;
  display: none;
}

.product-summary-details-body {
  display: flex;
  width: 100%;
  margin-bottom: 0;
}

.product-summary-details-left-row {
  flex: 3 1 80%;
  padding-right: 8px;
}

.product-summary-details-right-row {
  flex: 1 0 auto;
  text-align: right;
  margin-top: 12px;
}

.product-summary-detail-title {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.007em;
  font-size: 28px;
}

.product-summary-detail-subtitle {
  max-width: 65%;
  font-weight: 500;
  padding-bottom: 8px;
  display: inline-block;
}

.headline-small {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.headline-2 {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.1;
}

.product-current-price {
  font-weight: 500;
  margin-bottom: -4px;
  color: black;
}

/*###################################*/
/*#########PRODUCT SIZES###########*/
/*###################################*/

.product-select-size-fieldset {
  margin-top: 20px;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 1.5;
}

.select-size-form-header {
  width: 100%;
  text-align: left;
}

.size-header {
  background: transparent;
  text-align: left;
  padding-right: 0;
  padding-left: 0;
}

.size-header-row {
  display: flex;
  text-align: left;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.size-chart-link {
  color: #757575;
  padding-right: 0;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
}

.select-size-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 7px;
  margin-top: 8px;
}

input[type="radio"] {
  -webkit-appearance: radio;
}

input {
  border: 0;
  margin: 0;
  font-size: 14px;
  border-radius: 2px;
}

fieldset {
  border: none;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.select-size-grid > :not(input):not(label) > label {
  -webkit-box-flex: 1;
  flex-grow: 1;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.product-select-size-fieldset-wrapper {
  padding-right: 24px;
  padding-left: 24px;
}

.product-select-size-fieldset-wrapper
  input[type="radio"]:not(:disabled)
  + label {
  cursor: pointer;
}

.product-select-size-fieldset-wrapper
  input[type="radio"].visually-hidden
  + label {
  outline: none;
}

.select-size-grid div {
  position: relative;
}

.select-size-label {
  border-radius: 4px;
  height: 48px;
}

.product-select-size-fieldset-wrapper label {
  background: rgb(255, 255, 255);
  color: rgb(17, 17, 17);
  box-shadow: rgb(229, 229, 229) 0px 0px 0px 1px;
  width: 48px;
}

/*#################################################*/
/*############# ADD TO CART BUTTONS ###############*/
/*#################################################*/

#floating-atc-wrapper {
  /* bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1; */
}

.atc-btn-container {
  display: table;
  vertical-align: middle;
  margin-top: 10px;
  margin-bottom: 24px;
  width: 100%;
}

.add-to-cart-button {
  background: black;
  color: white;
}

.add-to-wishlist-button {
  margin-top: 12px;
  background: 0 0;
  color: black;
  box-shadow: inset 0 1px 0 0 #ccc, inset -1px 0 0 0 #ccc, inset 0 -1px 0 0 #ccc,
    inset 1px 0 0 0 #ccc;
}

.add-to-wishlist-button span:last-of-type {
  font-size: 100%;
  position: relative;
}

.wishlist-btn-tooltip {
  padding-right: 12px;
  padding-left: 12px;
  padding-bottom: 4px;
  padding-top: 4px;
}

.product-description-container {
  padding-top: 24px;
}

.product-description-body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  padding-left: 24px;
  padding-right: 24px;
}

.product-description-body p {
  line-height: 1.75;
}

.product-description-features {
  padding-top: 32px;
  padding-bottom: 28px;
  list-style: none;
}

.product-description-features li {
  list-style-type: disc;
  margin-left: 16px;
  margin-bottom: 4px;
}

.product-detail-link-btn {
  box-shadow: inset 0 -1px 0 0 #111;
  padding-bottom: 2px;
  font-weight: 500;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  background: 0 0;
}

/*#################################################*/
/*#################ACCORDION MENU##################*/
/*#################################################*/

.accordion-panel-menu {
  box-shadow: inset 0 -1px 0 0 #e5e5e5;
  padding-top: 48px;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 12px;
}

.accordion-panel-menu-item {
  min-width: 320px;
}

.accordion-panel-menu-item-btn {
  box-shadow: inset 0 1px 0 0 #e5e5e5;
  width: 100%;
  display: flex;
  background: 0 0;
  position: relative;
  padding: 28px 0;
  text-align: left;
}

.accordion-panel-menu-btn {
  padding: 0 4px;
  position: relative;
  width: 83.33333333333334%;
  display: inline-block;
}

.accordion-panel-menu h3 {
  font-size: 20px;
  line-height: 1.2;
}
.accordion-panel-menu-btn-title {
  color: #111111;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.col-sm-2 {
  width: 16.666666666666664%;
  display: inline-block;
  text-align: left;
}

.atc-btn-container {
  padding-right: 24px;
  padding-left: 24px;
}

/*#################################################*/
/*#################### MEDIA QUERIES###############*/
/*#################################################*/

@media screen and (min-width: 961px) {
  .full-width-spacer {
    width: 100%;
    margin-bottom: 16px;
  }

  .select-size-form-header {
    padding-right: 24px;
    padding-left: 24px;
  }

  .accordion-panel-menu-item-btn {
    text-align: left;
  }

  .product-description-body {
     padding-right: 0px;
    padding-left: 0px;
  }

   /* .product-description-body {
     padding-right: 24px;
    padding-left: 24px;
  } */
}

@media (min-width: 1025px) {
  .product-gallery-wrapper {
    display: flex;
  }

  .product-summary-container {
    width: 456px;
    display: block;
  }

  .product-summary-wrapper {
    margin-right: 7px;
  }

  .product-summary-body {
    max-width: 377px;
  }

  .product-summary-details-wrapper {
    display: block;
  }

  .product-details-banner-wrapper {
    display: none;
  }

  .full-width-spacer {
    display: none;
  }
}

@media (min-width: 0px) {
  .product-summary-wrapper {
    margin-right: 0;
  }

  .size-header-row {
    padding-top: 32px;
  }
}

@media only screen and (min-width: 1024px) {
  .product-gallery-list {
    padding-right: 48px;
    padding-left: 44px;
    margin-top: 44px;
    margin-left: 4px;
    margin-right: -8px;
    display: inline-block;
  }

  .product-gallery-image-wrapper {
    padding-left: 8px;
    padding-right: 4px;
    width: 50%;
    display: inline-block;
    position: relative;
    min-height: 1px;
  }

  .product-summary-wrapper {
    display: table;
    padding-right: 48px;
    padding-left: 24px;
    margin-top: 48px;
    margin-right: 7px;
  }

  .product-select-container {
    margin-top: 32px;
  }

  .select-size-form-header {
    padding-left: 0;
    padding-right: 0;
  }

  .product-select-size-fieldset-wrapper {
    padding-right: 0px;
    padding-left: 0px;
  }
  .size-header-row {
    padding-top: 0;
  }

  .atc-btn-container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .accordion-panel-menu {
    padding-top: 40px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }
}
