.left-nav-wrapper {
  min-width: 240px;
  padding: 0px 0px 1em 48px;
  background: white;
}

.left-nav {
  vertical-align: top;
  overflow: hidden;
  position: relative;
  transition: all 300ms ease 0s;
}

.left-nav__wrapper-top-point {
  top: 0px;
}
.left-nav {
  width: 192px;
  position: relative;
  background: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 1.5;
  display: block;
}

.left-nav__wrapper-top-point {
  top: 0px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.categories {
  padding: 0px 0px 40px;
}

.categories__item:first-of-type {
  margin-top: 0px;
}

.categories__item {
  font-weight: 500;
  white-space: normal;
  overflow-wrap: break-word;
  line-height: 1.35em;
  background: white;
  padding-bottom: 10px;
  font-size: 16px;
  color: black;
  padding-right: 1.1em;
}

.css-1t2ydyg {
  background: transparent;
  cursor: pointer;
  display: block;
  margin: 0px 0px 0px 4px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 96%;
}

.css-1t2ydyg a:hover {
  color: #757575;
}
.categories__item a:hover {
  color: #757575;
}

.css-xhk1pl {
  font-size: 16px;
  line-height: 1.5;
}

.categories__item:hover {
  color: #757575;
}

.categories-item:first-of-type {
  margin-top: 0px;
}

.categories-item {
  font-weight: 500;
  white-space: normal;
  line-height: 1.35em;
  padding-bottom: 10px;
  padding-right: 1.1em;
  margin: 0 4px 0 4px;
}

.categories__item {
  font-weight: 500;
  white-space: normal;
  word-wrap: break-word;
  line-height: 1.35em;
  padding-bottom: 10px;
  padding-right: 1.1em;
}

.categories__item:first-of-type {
  margin-top: 0;
}

.categories__item {
  font-size: 16px;
}

.css-1az01ki {
  transition: visibility 150ms ease 0s;
}

.css-n99xye {
  width: 1px;
  height: 1px;
  display: block;
  pointer-events: none;
}

.headline-5 {
  font-weight: 500px;
  font-size: 16px;
  line-height: 1.5;
}

.trigger-content {
  padding: 12px 0px;
  width: 98%;
  cursor: pointer;
  user-select: none;
  position: relative;
}

.trigger-content__label {
  display: inline-block;
  width: 93%;
  font-size: 16px;
  font-weight: 500;
}

.is--open {
  display: block;
}

.left-nav-chevron {
  display: inline-block;
  margin: 0 0.5rem;
  position: absolute;
  top: 24px;
  right: 2px;
  transform: translateY(-50%);
}
