.product-container {
  position: relative;
  padding-top: 130px;
  z-index: 0;
}

.products-section {
  max-width: 1920px;
  text-align: center;
  width: 100%;
  display: inline-block;
  position: relative;
  min-height: 1px;
  font-size: 16px;
  line-height: 1.75;
}

.product-results-body {
  overflow: hidden;
  display: flex;
}

.product-grid-container {
  flex: 1 1 0%;
  padding-left: 40px;
  padding-right: 48px;
}

.product-grid {
  position:  relative;
  max-width: 1920px;
}

.product-grid-items {
  text-align: left;
}

.product-grid-card {
  vertical-align: top;
  width: 50%;
  display: inline-block;
  position: relative;
  min-height: 1px;
  font-size: 16px;
  line-height: 1.75;
  padding-left: 8px;
  padding-right: 8px;
}

.product-card-body {
  position: relative;
  margin-bottom: 18px;
  max-width: 592px;
}

.product-card-image {
  width: 100%;
  background: rgb(245, 245, 245);
}

.product-card-link-overlay {
  display: block;
  z-index: 1;
  position: relative;
}

.product-card-image-wrapper {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.product-card-image img {
  height: auto;
  display: block;
  opacity: 1;
  transition: opacity 0.28s ease 0s;
}

.product-card-info {
  position: relative;
}

.product-card-title {
  color: rgb(17, 17, 17);
  font-weight: 500;
}

.product-card-subtitle {
  color: rgb(117, 117, 117);
  font-weight: 400;
}

.product-card-animation-wrapper {
  animation: 0s ease 0s 1 normal none running none;
}

.product-card-price-wrapper {
  vertical-align: top;
  text-align: left;
  width: 100%;
}

.product-card-price {
  padding-right: 16px;
}

.product-price-wrapper {
  display: flex;
}

.product-card-current-price {
  padding-right: 5px;
  font-weight: 500;
}

@media only screen and (min-width: 1024px) {
  .product-grid-items {
    padding-bottom: 0px;
  }

  .product-grid-card {
    width: 33.3%;
    display: inline-block;
  }
}

@media (max-width: 639px), (max-width: 1023px) and (min-width: 640px) {
  .product-grid-container {
    /* padding: 0px; */
    max-width: 1920px;
    position: relative;
  }
  .product-grid-items {
    padding-left: 0px;
    padding-right: 0px;
  }

  .product-grid-items > .product-grid-card:nth-of-type(2n + 1) {
    padding-left: 0px;
    padding-right: 3px;
  }

  .product-grid-items > .product-grid-card:nth-of-type(2n) {
    padding-right: 0px;
    padding-left: 3px;
  }

  .product-card-info {
    font-size: 14px;
    padding: 6px 12px 0px;
    line-height: 20px;
    min-height: 0px;
  }

  .product-card-titles {
    line-height: 20px !important;
  }

  .product-card-title {
    padding-top: 2px;
    font-size: 14px;
  }

  .product-card-subtitle {
    color: rgb(117, 117, 117);
    line-height: 20px !important;
  }

  .product-card-price-wrapper {
    padding-top: 12px;
    line-height: 20px !important;
  }

  .product-card-price {
    font-size: 14px;
  }

  .product-price-wrapper {
    line-height: 20px !important;
  }
}
