.product-sidebar-wrapper {
  min-width: 240px;
  padding: 0px 0px 1em 48px;
}

.product-sidebar {
  vertical-align: top;
  overflow: hidden;
  position: relative;
  transition: all 300ms ease 0s;
}

.product-sidebar__wrapper-top-point {
  top: 0px;
}
/*   .css-n99xye   */
.product-toggle {
  width: 1px;
  height: 1px;
  display: block;
  pointer-events: none;
}

.product-sidebar-nav {
  width: 192px;
  position: relative;
  background: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 1.5;
  display: block;
}
/*  css-1t5ayua   */
.product-nav-transition {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.product-sidebar-nav__top-point {
  top: 0px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.categories {
  padding: 0px 0px 40px;
}

.categories-item:first-of-type {
  margin-top: 0px;
}

.categories-item {
  font-weight: 500;
  white-space: normal;
  overflow-wrap: break-word;
  line-height: 1.35em;
  padding-bottom: 10px;
  padding-right: 1.1em;
}

/*   .css-1t2ydyg    */
.cat-style {
  background: transparent;
  cursor: pointer;
  display: block;
  margin: 0px 0px 0px 4px;
  overflow-wrap: break-word;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 96%;
}

.categories-item .cat-style {
  font-size: 16px;
}

.css-er .filter-group:first-of-type {
  border-top: 1px solid rgb(229, 229, 229);
}

.css-er .filter-group {
  width: 100%;
  text-align: left;
  padding: 0;
  border-bottom: solid 1px #e5e5e5;
  display: block;
  line-height: 28px;
}

.css-er.filter-group__btn {
  display: block;
}

.filter-group__count {
  display: inline;
}

.filter-group__outer {
  transition: height 150ms linear 0s;
  overflow: hidden;
  margin-left: -2px;
  margin-top: 5px;
}

.filter-group__content {
  padding: 0px 0px 20px;
}

.css-1az01ki {
  transition: visibility 150ms ease 0s;
}

.headline-5 {
  font-weight: 500px;
  font-size: 16px;
  line-height: 1.5;
}

.trigger-content {
  padding: 12px 0px;
  width: 98%;
  cursor: pointer;
  user-select: none;
  position: relative;
}

.trigger-content__label {
  display: inline-block;
  width: 93%;
  font-size: 16px;
  font-weight: 500;
}

.css-er.filter-group {
  text-align: left;
}

.is--hidden {
  display: none;
}

.is--open {
  display: block;
}

.left-nav-chevron {
  display: inline-block;
  margin: 0 0.5rem;
  position: absolute;
  top: 24px;
  right: 2px;
  transform: translateY(-50%);
}