
/* 
.sidebar-container {
  display: none;
  visibility: hidden;
} */

.mobile__wall-header__filter-text { line-height: 1.75; }

@media only screen and (min-width: 700px) {

  /* .left-nav-wrapper { display: block; } */
}

@media only screen and (min-width: 376px) {
  /* .left-nav-wrapper, .filter-transition {display: none; } */
}
.left-nav {
  padding: 0px 0px 1em 48px;
  width: 192px;
  position: relative;
  background: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 1.5;
}

.filter-transition-enter {
  margin-left: -240px;
  transform: translateX(-240px);
}

.filter-transition-exit {
  margin-left: 0px;
  transform: translateX(0px);
}

.filter-transition-enter-active {
  transform: translateX(0px);
  margin-left: 0px;
  transition: all 500ms ease;
}
.filter-transition-exit-active {
  transform: translateX(-240px);
  margin-left: -240px;
  transition: all 500ms ease;
}

.categories {
  padding: 0px 0px 40px;
  background: transparent;
  cursor: pointer;
  display: block;
  margin: 0px 0px 0px 4px;
  position: relative;
  text-align: left;
  width: 96%;
}

.categories__item {
  font-weight: 500;
  white-space: normal;
  line-height: 1.35em;
  padding-bottom: 10px;
  padding-right: 1.1em;
  font-size: 16px;
}

.categories__item:first-of-type {
  margin-top: 0;
}

.categories__item a:hover,
.filter-group__list-wrapper > div:hover {
  color: #757575;
}

.filter-group {
  background: #fff;
  width: 100%;
  text-align: left;
  padding: 0;
  border-bottom: solid 1px #e5e5e5;
  display: block;
  line-height: 28px;
}

.filter-group:first-of-type {
  border-top: solid 1px #e5e5e5;
}

.trigger-content {
  padding: 12px 0px;
  width: 98%;
  cursor: pointer;
  position: relative;
}

.trigger-content p {
  display: inline-block;
  width: 93%;
  font-size: 16px;
  font-weight: 500;
}

.filter-group__list-outer {
  background: white;
  /* border: 1px solid blue; */
  overflow: hidden;
}

.filter-group__list-wrapper {
  height: auto;
  padding: 0px 0px 20px;
  /* border: 1px solid red; */
  background: white;
}

.filter-item {
  margin: 4px 2px;
  line-height: 1.5;
  background: transparent;
  cursor: pointer;
  display: block;
  margin: 0px 0px 0px 4px;
  position: relative;
  text-align: left;
  width: 96%;
}

.pseudo-checkbox {
  margin-top: 2px;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  vertical-align: top;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  margin-right: 6px;
  display: inline-block;
  position: relative;
}

.pseudo-checkbox.is--checked {
  border-color: rgb(17, 17, 17);
  background: rgb(17, 17, 17);
}

.icon-checkmark {
  color: rgb(247, 247, 247);
  position: absolute;
  display: inline-block;
  top: 3px;
  left: 2px;
}

#checkmark {
  position: absolute;
  top: -7px;
  left: -6.25px;
  color: #fff;
  font-size: 128%;
}

.trigger-content__label {
  display: inline-block;
  width: 93%;
  line-height: 1.5;
}

.trigger-content .icon-chevron {
  position: absolute;
  top: 12px;
  width: 14px;
  height: 14px;
  right: 2px;
}

.filter-group__count {
  display: inline;
}

.filter-transition-enter {
  height: 0;
}
.filter-transition-enter-active {
  height: auto;
  transition: height 500ms ease;
}

.filter-transition-exit-active {
  transition: all 500ms ease;
}

