.left-nav-wrapper {
  min-width: 240px;
  padding: 0px 0px 1em 48px;
  background: white;
}

.left-nav {
  overflow: hidden;
  position: relative;
  background: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 1.5;
  display: block;
  transition: all 300ms ease 0s;
}

.categories {
  padding: 0px 0px 40px;
}

.css-1t2ydyg {
  background: transparent;
  cursor: pointer;
  display: block;
  margin: 0px 0px 0px 4px;
  position: relative;
  text-align: left;
  width: 96%;
}

.categories__item a:hover {
  color: #757575;
}

.categories-item {
  font-weight: 500;
  white-space: normal;
  line-height: 1.35em;
  padding-bottom: 10px;
  padding-right: 1.1em;
  margin: 0 4px 0 4px;
}

.trigger-content {
  padding: 12px 0px;
  width: 98%;
  cursor: pointer;
  user-select: none;
  position: relative;
}

.trigger-content__label {
  display: inline-block;
  width: 93%;
  font-size: 16px;
  font-weight: 500;
}

.categories__item {
  font-weight: 500;
  white-space: normal;
  line-height: 1.35em;
  padding-bottom: 10px;
  padding-right: 1.1em;
  font-size: 16px;
}

.categories__item:first-of-type {
  margin-top: 0;
}

.filter-item__item-label {
  display: inline-block;
  word-break: break-word;
  white-space: normal;
}

.filter-group__count {
  display: inline;
}

.filter-group__closed .filter-group__content {
  visibility: hidden;
}
.filter-group__content {
  padding: 0px 0px 20px;
}

.pseudo-checkbox {
  margin-top: 2px;
  flex-shrink: 0;
}

.icon-checkmark {
  display: inline-block;
}

.pseudo-checkbox.is--checked {
  border-color: rgb(17, 17, 17);
  background: rgb(17, 17, 17);
}

.css-1n9lta1 .icon-checkmark {
  color: rgb(247, 247, 247);
  position: absolute;
  top: 3px;
  left: 2px;
}

.filter-item__item-label:hover {
  color: #757575;
}

.filters .filter-item {
  margin: 4px 2px;
  line-height: 1.5;
}

.css-1n9lta1 {
  width: 20px;
  height: 20px;
  vertical-align: top;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  margin-right: 6px;
  display: inline-block;
  position: relative;
}

#checkmark {
  position: absolute;
  top: -7px;
  left: -6.25px;
  color: #fff;
  font-size: 128%;
}

.filter-group {
  width: 100%;
  text-align: left;
  padding: 0;
  border-bottom: solid 1px #e5e5e5;
  display: block;
  line-height: 28px;
}
.filter-group:first-of-type {
  border-top: solid 1px #e5e5e5;
}
.headline-5 {
  font-weight: 500px;
  font-size: 16px;
  line-height: 1.5;
}

.filter-group .trigger-content .filter-group__count {
  display: inline;
}

.filter-group .trigger-content {
  padding: 12px 0px;
  width: 98%;
  cursor: pointer;
  user-select: none;
  position: relative;
}

.filter-group .trigger-content__label {
  display: inline-block;
  width: 93%;
  line-height: 1.5;
}

.filter-group .trigger-content .icon-chevron {
  position: absolute;
  top: 12px;
  right: 2px;
}

.icon-chevron {
  width: 14px;
  height: 14px;
  position: relative;
}
